<!DOCTYPE html>

<html>
    <head>
    <title> All school </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pagestyle.css') }}">
    </head>

    <body>
        <table>
                <tr>
                    <th> Country </th>
                    <th> School name </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                </tr>
            <tbody>
                {% for item in rows %}
                <tr>
                    <td> {{ item [3] }} </td>
                    <td> {{ item [2] }} </td>
                    <td> {{ item [0] }} </td>
                    <td> {{ item [1] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="/" method="POST">
            <input type="submit" value="Main menu">
        </form>
    </body>
</html>