<!DOCTYPE html>

<html>

    <head>
        <title> Applicants and mentors </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pagestyle.css') }}" </head>
    </head>

    <body>
        <table>
                <tr>
                    <th> Applicants' name </th>
                    <th> Applicants' Code </th>
                    <th> Mentors' name </th>
                </tr>
            <tbody>
                {% for item in rows %}
                <tr>
                    <td> {{ item [0] }} </td>
                    <td> {{ item [1] }} </td>
                    <td> {{ item [2] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="/" method="POST">
            <input type="submit" value="Main menu">
        </form>
    </body>
</html>